

/***  ---  IDs  ---  ***/
#new-climb-form {
	margin-left: auto;
	margin-right: auto;
}

#new-climb-cal #climb-calendar{
	margin-top: 15px;
	stop-color: purple;
	background-color: yellow;
}

#reset {
	padding: 0;
}

#main {
	/* Mobile/Tablet styles (xs, sm) */
	margin-left: auto;
	margin-right: auto;
	/*     border: 1px solid #F00; */
}

#detail {
	/* Mobile/Tablet styles (xs, sm) */
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #00F;*/
}

#map {
	max-width: 600px;
	min-height: 300px;
	background-color: grey;
}

#cal-link:hover
#cal-text {
	color: #eec212;
/* 	border-bottom: 1px solid black; */
}
#cal-link:hover
#cal-span {
/* 	text-decoration: overline; */
}

#carousel-output {
	border-radius: 10px;
	background-color: #FAFAFA;
	margin: 15px;
	padding: 3px 20%;
	color: #1F78D4;
	border: 1px solid;
}



	
/***  ---  CLASSES  ---  ***/

.scrolloff {
    pointer-events: none;
}

.trio {
	margin: 15px 0 30px 0;
}

.frame {
	margin: 3px;
	border: 1px solid #5e6960;
}

.carousel {
	margin-top: 25px;
	transition-duration: .2s;
}

/* .carousel-inner > .item {
 position: relative;
 display: none;
 -webkit-transition: 0.4s ease-in-out left;
 -moz-transition: 0.4s ease-in-out left;
 -o-transition: 0.4s ease-in-out left;
 transition: 0.4s ease-in-out left;
}
 */
 
.trim {
	margin: 0;
	padding: 0;
}

.wrap {
	text-align: center;
}

.wrap-left {
	text-align: left;
}

.wrap-right {
	text-align: right;
}

.center {
	display: inline-block;
	margin: auto;
	text-align: center;
}

.left {
	display: inline-block;
	margin-left: 0;
	text-align: left;
}

.right {
	display: inline-block;
	margin-right: 0;
	text-align: right;
}

.clock {
	width: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.ctr {
	width: 20px;
	margin: 0;
	padding: 0 3px;
	text-align: center;
}

.ctr-dur {
	width: 25px;
	margin: 0;
	padding: 0;
	text-align: left;
}

.clock-top {
  vertical-align: bottom;
  border: 0;
  background-color: inherit;
  color: green;
}

.clock-mid {
	height: 30px;
	vertical-align: middle;
	margin-top: 8px;
	margin-bottom: 4px;
	border-radius: 8px;
	font-family: monospace;
}

.clock-btm {
  vertical-align: top;
  border: 0;
  background-color: inherit;
  color: green;
}

/* .carousel-control.left, .carousel-control.right {
    background-image: none
}
 */



.buffer {
	padding: 3px 0;
}

.red {
	border: 1px solid red;
}

.green {
	border: 1px solid green;
}

.orange {
	border: 1px solid orange;
}

.purple {
	border: 1px solid purple;
}


/***  ---  TAGS  ---  ***/

header {
	height: 50px;
	background-color: #5e6960;
}

nav {
	font-family: sans-serif;
	margin: 3px 0;
}


a {
	color: gray;
}

a:hover {
	text-decoration: none;
}

/*  ---  XS SCREEN ONLY STYLES  ---  */
@media ( max-width : 768px) {

	#map {
		margin: auto;
	}
}






/*  ---  Found this...what's it mean?  Do I need it? ---  */


/****  FIRST ****/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
