

/***  ---  IDs  ---  ***/
#nav-wrap {
	box-shadow: 0 10px 14px rgba(229,115,0,.25);
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}

#nav {
	height: 50px;
	position: static;
	font-size: 18px;
}

#home-link {
	position: absolute;
	left: 1%;
	padding: 10px 15px;
}

#nav-ul {
	position: absolute;
	right: 1%;
}

#nav-person {
/* 	margin-right: 20px; */
}

#nav-person-dropdown {
	left: auto;
	right: 0;
}


#links>li>a{
	border-bottom: 1px solid #ff8000;
}

#links>li {
	margin-bottom: 20px;
}

#browse-btn {
	margin: 100px 0 30px 0;;
}

#request-btn {
}

#new-climb-form {
	margin-left: auto;
	margin-right: auto;
}

	
#climb-cal-form {}

.center > #climb-calendar {}

#climb-calendar.ui-datepicker {}

#new-climb-cal #climb-calendar{
	margin-top: 15px;
	overflow: auto;
}

#reset {
	padding: 0;
}

#main {
	margin-left: auto;
	margin-right: auto;
}

#detail {
	margin-left: auto;
	margin-right: auto;
}

#map-wrap {
	max-width: 600px;
	min-height: 300px;
	width: 100%;
	height: auto;
	border-radius: 5%;
	position: static;
}

#map {
	max-width: 600px;
	min-height: 300px;
	background-color: grey;
	width: 100%;
	height: auto;
	border-radius: 5%;
	z-index: -1;
}

#emb-cont-wrap-wrap {
	max-width: 600px;
	min-height: 300px;
}

#embedded-content-wrap {
    position: absolute;
    left: 10%;
	bottom: 10%;
    max-width: 80%;
   	max-height: 50px;
   	/* overflow: auto; */
  	background-color: #FAFAFA;
	/* border: 1px solid grey; */
	border-radius: 7px;
	padding-right: 5px;
}

#embedded-content {
	overflow: auto;
	max-height: inherit;
/* 	margin: auto; */
	padding: 2px 5px;
}

#cal-link:hover
#cal-text {
	color: #eec212;
}

#cal-link:hover
#cal-span {}

#carousel-output {
	border-radius: 10px;
	background-color: #FAFAFA;
	margin: 15px;
	padding: 3px 20%;
	color: #1F78D4;
	border: 1px solid;
}



	
/***  ---  CLASSES  ---  ***/

.nav-li {
	list-style: none;
	display: list-item;
	padding: 10px 15px;
	position: relative;
	float: left;	
}

.nav-li>a {
    position: relative;
    display: block;
}

.nav-link {
/* 	padding: 7px 10px 5px 10px;
	border: 1px solid #ff8000;
	border-radius: 20px;
 */}

.dropdown {
	color: grey;
}


.slide-menu {
/*     position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
 */    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
x    text-align: left;
    list-style: none;
    background-color: #fff;
x    -webkit-background-clip: padding-box;
    background-clip: padding-box;
x    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
x    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.filter-drop>li:focus, .dropdown-menu>li:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.filter-drop>li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

.filter-caret {
	color: #ff8000;
}

a.filter:hover, a.filter:focus {
	color: #444444;
    border-bottom: 1px solid #ff8000;
}


.main-btn {
	min-width: 80px;
	width: 35%;
	height: 30px;
	border: 1px solid #ff8000;
	border-radius: 15px;
}

.main-btn a {
	font-size: 1em;
	vertical-align: middle;
}


.scrolloff {
    pointer-events: none;
}

.trio {
	margin: 15px 0 30px 0;
}

.frame {
	margin: 3px;
	border: 1px solid #5e6960;
}

.carousel {
	margin-top: 25px;
	transition-duration: .2s;
}

/* .carousel-inner > .item {
 position: relative;
 display: none;
 -webkit-transition: 0.4s ease-in-out left;
 -moz-transition: 0.4s ease-in-out left;
 -o-transition: 0.4s ease-in-out left;
 transition: 0.4s ease-in-out left;
}
 */
 
.trim {
	margin: 0;
	padding: 0;
}

.wrap {
	text-align: center;
}

.wrap-left {
	text-align: left;
}

.wrap-right {
	text-align: right;
}

.center {
	display: inline-block;
	margin: auto;
	text-align: center;
}

.left {
	display: inline-block;
	margin-left: 0;
	text-align: left;
}

.right {
	display: inline-block;
	margin-right: 0;
	text-align: right;
}

.middle {
	display: inline-block;
	vertical-align: middle;
}

.clock {
	width: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.ctr {
	width: 20px;
	margin: 0;
	padding: 0 3px;
	text-align: center;
}

.ctr-dur {
	width: 25px;
	margin: 0;
	padding: 0;
	text-align: left;
}

.clock-top {
  vertical-align: bottom;
  border: 0;
  background-color: inherit;
  color: green;
}

.clock-mid {
	height: 30px;
	vertical-align: middle;
	margin-top: 8px;
	margin-bottom: 4px;
	border-radius: 8px;
	font-family: monospace;
}

.clock-btm {
  vertical-align: top;
  border: 0;
  background-color: inherit;
  color: green;
}

/* .carousel-control.left, .carousel-control.right {
    background-image: none
}
 */

.ppl-content {
/* 	display: none; */
}

.hidden {
	display: none;
}

/* 	border-top: 1px solid red;
	border-right: 12px solid purple;
	border-bottom: 3px solid indigo;
	border-left: 2px solid red;
	border-top-left-radius: 15px;
	border-top-right-radius : 25%;
	border-bottom-left-radius : 15px;
	border-bottom-right-radius : 50%;
*/

.climblist-item {
	text-align: center;
	border: 1px solid #e8e8e8;
	border-radius: 15px;
	border-bottom-right-radius: 30px;
	background-color: #f9f9f9;
 	padding: 0;
	margin: 3px 0 7px 0;
}

.climblist-item div {
	margin: 0;
	padding: inherit;
	vertical-align: middle;
}

.climblist-item div.row {
	vertical-align: middle;	
}

.climblist-toprow {
	vertical-align: middle;
	border-bottom: 1px solid #eeeeee;
	background-color: #f3f3f3;
	border-top-left-radius : 15px;
	border-top-right-radius : 15px;
}

.climblist-item-requested-by {
	text-align: right;
	padding-top: 40%;
	font-size: .65em;
}
.climblist-item-name {
	text-align: left;
	text-indent: 1em;
	padding-left: 7px;
	font-size: 1.2em;
	font-variant: small-caps;
	border-left: 1px solid #eeeeee;
	color:#545876;
}
.climblist-item-date {
	font-size: .85em;
	font-family: serif;
	font-style: italic;
}
.climblist-item-date-month {}
.climblist-item-date-date {}
.climblist-item-day {
	font-size: 1.4em;
	font-family: serif;
	font-style: italic;	
}
.climblist-item-hour {
	text-align: right;
	font-size: 1.4em;
	font-family: serif;
	font-style: italic;
}
.climblist-item-timeend {
	font-size: 1em;
	font-family: serif;
	font-style: italic;
}
.climblist-item-timeend-minute {}
.climblist-item-timeend-ampm {
	font-size: .7em;
}
.climblist-item-location {
	font-size: 1.2em;
	font-variant: small-caps;
	font-style: italic;
}
.climblist-item-caret {}

.ui-datepicker-current-day {
	background-color: grey;
	border: 1px solid red;
	border-radius: 5px;
}

.ui-corner-all {
	corner-radius: 25px;
}

.buffer {
	padding: 3px 0;
}

.red {
	border: 1px solid red;
}

.green {
	border: 1px solid green;
}

.orange {
	border: 1px solid orange;
}

.purple {
	border: 1px solid purple;
}


/***  ---  TAGS  ---  ***/
html {
	font-family: "Neuzeit","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    
}


header {
	height: 20px;
	background-color: grey;
}

nav {
	margin: 3px 0;
}


a {
	color: gray;
}

a:hover, a:focus {
    color: #ff8000;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/*  ---  XS SCREEN ONLY STYLES  ---  */
@media ( max-width : 768px) {

	#map {
		margin: auto;
	}
}






/*  ---  Found this...what's it mean?  Do I need it? ---  */


/****  FIRST ****/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
