<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="boulderFragmentContent">
	<h3>BOULDERING</h3>
	<h4>I usually practice:</h4>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6 form-group">
					<label for="boulderMin">Min:</label> <select class="form-control"
						name="boulderMin" id="boulderMin">
						<option th:text="${boulderMin} ? ((${boulderMin} != -1) ? 'No Rating' : ' -Select- ' )"></option>
						<option th:selected="(${boulderMin} == 1) ? 'selected'">V0</option>
						<option th:selected="(${boulderMin} == 2) ? 'selected'">V1</option>
						<option th:selected="(${boulderMin} == 3) ? 'selected'">V2</option>
						<option th:selected="(${boulderMin} == 4) ? 'selected'">V3</option>
						<option th:selected="(${boulderMin} == 5) ? 'selected'">V4</option>
						<option th:selected="(${boulderMin} == 6) ? 'selected'">V5</option>
						<option th:selected="(${boulderMin} == 7) ? 'selected'">V6</option>
						<option th:selected="(${boulderMin} == 8) ? 'selected'">V7</option>
						<option th:selected="(${boulderMin} == 9) ? 'selected'">V8+</option>
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label for="boulderMax">Max:</label> <select class="form-control"
						name="boulderMax" id="boulderMax">
						<option th:text="${boulderMax} ? ((${boulderMax} != -1) ? 'No Rating' : ' -Select- ' )"></option>
						<option th:selected="(${boulderMax} == 1) ? 'selected'">V0</option>
						<option th:selected="(${boulderMax} == 2) ? 'selected'">V1</option>
						<option th:selected="(${boulderMax} == 3) ? 'selected'">V2</option>
						<option th:selected="(${boulderMax} == 4) ? 'selected'">V3</option>
						<option th:selected="(${boulderMax} == 5) ? 'selected'">V4</option>
						<option th:selected="(${boulderMax} == 6) ? 'selected'">V5</option>
						<option th:selected="(${boulderMax} == 7) ? 'selected'">V6</option>
						<option th:selected="(${boulderMax} == 8) ? 'selected'">V7</option>
						<option th:selected="(${boulderMax} == 9) ? 'selected'">V8</option>
						<option th:selected="(${boulderMax} == 10) ? 'selected'">V9</option>
						<option th:selected="(${boulderMax} == 11) ? 'selected'">V10+</option>
					</select>
				</div>

			</div>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>
		


		
</section>

</html>