<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="contentPplDetail" th:if="${pplContent}">
	<div id="ppl-detail">
		<button th:each="prof : ${profiles}" th:text="${prof.name}"
			th:id="${prof.name} + '-detail'"></button>
	</div>
</section>

<section th:fragment="contentPplMain" th:if="${pplContent}">

	<div th:each="profile : ${profiles}">
		<div th:id="${profile.name} + '-main'" class="ppl-content">
			<div th:text="${profile.name}"></div>
			<!-- 			<div th:text="${profile.pic}"></div> -->
			<div
				th:text="(${profile.homeGym} != -1) ? ${profile.homeGym} : 'nuthin'"></div>
			<div
				th:text="(${profile.leadPracticeMin} != -1) ? ${profile.leadPracticeMin} : 'nuthin'"></div>
			<div
				th:text="(${profile.leadPracticeMax} != -1) ? ${profile.leadPracticeMax} : 'nuthin'"></div>
			<div
				th:text="(${profile.topropePracticeMin} != -1) ? ${profile.topropePracticeMin} : 'nuthin'"></div>
			<div
				th:text="(${profile.topropePracticeMax} != -1) ? ${profile.topropePracticeMax} : 'nuthin'"></div>
			<div
				th:text="(${profile.boulderPracticeMin} != -1) ? ${profile.boulderPracticeMin} : 'nuthin'"></div>
			<div
				th:text="(${profile.boulderPracticeMax} != -1) ? ${profile.boulderPracticeMax} : 'nuthin'"></div>
			<!-- 			<div th:text="${profile.leadPracticeMin}"></div>
			<div th:text="${profile.leadPracticeMax}"></div>
			<div th:text="${profile.topropePracticeMin}"></div>
			<div th:text="${profile.topropePracticeMax}"></div>
			<div th:text="${profile.boulderPracticeMin}"></div>
			<div th:text="${profile.boulderPracticeMax}"></div>
 -->
		</div>

	</div>

</section>

</html>



