<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: htmlhead">

</head>

<body>

	<header class="jumbotron">
		<h1>Log In</h1>
	</header>
	<nav th:replace="template :: nav"></nav>
	
	
	<form method="post">
		
		<h1>Log In</h1>
		<br />
		<div class="form-group"  th:class="${usrError}? 'has-error'">
			<label for="name" class="control-label">Username:
				
				<input type="text" name="username" th:value="${name}" class="form-control" /></label>&nbsp;&nbsp;<span class="text-danger error" th:text="${usrError}"></span>
		</div>
			<p class="text-warning info" th:text="${usrGuide}"></p>

		<div class="form-group"  th:class="${pwdError}? 'has-error'">
			<label for="name" class="control-label">Password:
				
				<input type="password" name="password" class="form-control" /></label>&nbsp;&nbsp;<span class="text-danger error" th:text="${pwdError}"></span>
		</div>
			<p class="text-warning info" th:text="${pwdGuide}"></p><br />

		<button class="btn btn-primary" type="submit">Log In</button>
		
		<p>Don't have an account?  <a href="signup.html" th:href="@{/signup}">Get One</a>!</p>
		

	</form>

</body>
</html>
