<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="mainblockContent">


	<div class="container-fluid">
		<div class="row">
			<div id="titlebar" class="hidden-xs hidden-sm col-md-12"></div>
		</div>
		<div id="trio" class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">

				<div class="col-xs-4 error trio">
					<div><a href="cal.html" th:href="@{/cal}"><img id="cal-img" src="/img/cal_black.png" th:attr="src=@{img/cal_black.png}" /></a></div>
					<div class="hidden-xs col-sm-4">Calendar</div>
					
				</div>
				<div class="col-xs-4">
					<div><a href="loc.html" th:href="@{/loc}"><img id="loc-img" src="/img/loc_black.png" th:attr="src=@{img/loc_black.png}" /></a></div>
					<div class="hidden-xs col-sm-4">Location</div>
				</div>
				<div class="col-xs-4">
					<div><a href="ppl.html" th:href="@{/ppl}"><img id="ppl-img" src="/img/ppl_black.png" th:attr="src=@{img/ppl_black.png}" /></a></div>
					<div class="hidden-xs col-sm-4">Climbers</div>
				</div>

			</div>
			<div class="col-xs-4"></div>
		</div>
		
		<div class="row panel panel-default">
			<div id="detail" class="hidden-xs col-sm-3">
				<thblock th:replace="detail :: detailContent"> </thblock>

			</div>
			<div id="main" class="col-xs-12 col-sm-9">
				<div id="main-detail" class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<thblock th:replace="detail :: detailContent"> </thblock>

				</div>
				<section th:if="${calContent}"
					th:replace="contentCal :: contentCalMain"></section>

				<section th:if="${locContent}"
					th:replace="contentLoc :: contentLocMain"></section>

				<section th:if="${pplContent}"
					th:replace="contentPpl :: contentPplMain"></section>


			</div>
		</div>
		<div class="row">
			<div id="request" align="center">
				<button id="req_btn" type="button" class="btn btn-primary">Can
					I Get A Catch?</button>
			</div>
		</div>
	</div>



</section>


</html>
