<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: htmlhead">

</head>

<body>


	<thblock th:replace="template :: header"></thblock>



		<h1>New Climbing Session</h1>

		<!-- 
		<div class="form-group" th:class="${locError}? 'has-error'">
			<label for="loc" class="control-label"><h4>Where?</h4> <input
				type="text" name="loc" th:value="${loc}" class="form-control" /></label>&nbsp;&nbsp;
			<span class="text-danger error" th:text="${locError}"></span>
		</div>
		<p class="text-warning info" th:text="${locGuide}"></p>
		<br />


		<div>
			<h4>When?</h4>

			<div class="form-group" th:class="${monthError}? 'has-error'">
				<label for="month" class="control-label"><h5>Month:</h5> <input
					type="text" name="month" th:value="${month}" class="form-control" /></label>&nbsp;&nbsp;<span
					class="text-danger error" th:text="${monthError}"></span>
			</div>


			<div class="form-group" th:class="${dayError}? 'has-error'">
				<label for="day" class="control-label"><h5>Day:</h5> <input
					type="text" name="day" th:value="${day}" class="form-control" /></label>&nbsp;&nbsp;<span
					class="text-danger error" th:text="${dayError}"></span>
			</div>


			<div class="form-group" th:class="${hourError}? 'has-error'">
				<label for="hour" class="control-label"><h5>Hour:</h5> <input
					type="text" name="hour" th:value="${hour}" class="form-control" /></label>&nbsp;&nbsp;<span
					class="text-danger error" th:text="${hourError}"></span>
			</div>


			<div class="form-group" th:class="${minuteError}? 'has-error'">
				<label for="minute" class="control-label"><h5>Minute:</h5> <input
					type="text" name="minute" th:value="${minute}" class="form-control" /></label>&nbsp;&nbsp;<span
					class="text-danger error" th:text="${minuteError}"></span>
			</div>
		</div>
		<p class="text-warning info" th:text="${whenGuide}"></p>
		<br />


		<div class="form-group" th:class="${durationError}? 'has-error'">
			<label for="duration" class="control-label"><h4>How
					Long?</h4>
				<input type="text" name="duration" th:value="${duration}"
				class="form-control" /></label>&nbsp;&nbsp; <span class="text-danger error"
				th:text="${durationError}"></span>
		</div>
		<p class="text-warning info" th:text="${durationGuide}"></p>


		<button class="btn btn-primary" type="submit">Submit Request</button>
 -->


	<form id="new-climb-form" method="post">
		<div class="row">
		<div class="col-sm-1"></div>
		<div class="row col-sm-8">
				<div class="row col-xs-12">
			<div class="wrap">
				<div class="center">

					Crags: <select name="loc">
						<option th:each="location : ${locs}" th:text="${location}" />
					</select>
				</div>
			</div>
		</div>
		
			<div class="col-xs-6">
				<div class="wrap">
					<div class="right">
						<div id="new-climb-cal"></div>
						<input type="text" id="required-to-display-calendar" name="start-date" style="display: none"/>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="wrap">
					<div class="left">

						<div class="row">
							<table>
								<tr>
									<h5>Session Start Time:</h5>
								</tr>
								<tr>
									<td class="clock clock-top"><span id="start-hour-plus"
											class="clock clock-top"><span class="glyphicon glyphicon-plus"></span></span></td>
									<td class="ctr">&nbsp;</td>
									<td class="clock clock-top"><span id="start-minute-plus"
											class="clock clock-top"><span class="glyphicon glyphicon-plus"></span></span></td>
								</tr>
								<tr>
									<td class="clock clock-mid"><input id="start-hour" class="clock clock-mid"
										name="start-hour" readonly="readonly"
										th:value="${startHour} ? ${startHour} : '12'"></input></td>
									<td class="ctr">&nbsp;:&nbsp;</td>
									<td class="clock clock-mid"><input id="start-minute" class="clock clock-mid"
										name="start-minute" readonly="readonly"
										th:value="${startMinute} ? ${startMinute} : '00'"></input></td>
									<td class="ctr"><input id="ampm" class="clock clock-mid" name="ampm" readonly="readonly" th:value="${ampm} ? ${ampm} : 'pm'"/></td>
								</tr>
								<tr>
									<td class="clock clock-btm"><span id="start-hour-minus"
											class="clock clock-btm"><span class="glyphicon glyphicon-minus"></span></span></td>
									<td class="ctr">&nbsp;</td>
									<td class="clock clock-btm"><span
											id="start-minute-minus"
											class="clock clock-btm"><span class="glyphicon glyphicon-minus"></span></span></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row">
					<div class="col-xs-4"></div>
					<div id="reset" class="col-xs-3 panel sm-panel panel-success panel-body center">reset</div>
					<div class="col-xs-5"></div>
					</div>
					<div class="wrap">
						<div class="left">
							<div class="row">
								<table>
									<tr>
										<h5>Session Duration:</h5>
									</tr>
									<tr>
										<td class="clock clock-top"></td>
										<td class="ctr-dur"><span id="dur-plus"	class="clock clock-top glyphicon glyphicon-plus"></span></td>
										<td class="clock clock-top"></td>
									</tr>
									<tr>
										<td class="clock clock-mid"><input id="dur-hour"
											class="clock clock-mid" name="dur-hour" readonly="readonly"
											th:value="${durHour} ? ${durHour} : '1'"></input></td>
										<td class="ctr-dur">&nbsp;hr</td>
										<td class="clock clock-mid"><input id="dur-minute"
											class="clock clock-mid" name="dur-minute" readonly="readonly"
											th:value="${durMinute} ? ${durMinute} : '30'"></input></td>
										<td class="ctr-dur">&nbsp;min</td>
									</tr>
									<tr>
										<td class="clock clock-btm"></td>
										<td class="ctr-dur"><span id="dur-minus"
												class="clock clock-btm glyphicon glyphicon-minus"></span></td>
										<td class="clock clock-btm"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="wrap">
					<div class="left">
						<button class="btn btn-primary" type="submit">Submit
							Request</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
		</div>
	</form>


</body>
</html>
<!-- 
//Disable dates before today (can't set appts in the past)
                    defaultDate: "11/1/2013",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                        
                         <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
                        

 -->
