<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: htmlhead">

</head>

<body>
	<thblock th:replace="template :: header"></thblock>
	
	<ul id="links">
		<li><a href="ppl">profiles</a></li>
		<li><a href="loc">locations</a></li>
	
	</ul>
	<div class="container" style="position: static">
	<div class="row">
		<div class="col-xs-12 wrap">
			<div id="browse-btn" class="main-btn center">
				<a href="search-climbs">browse catch requests</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 wrap">
			<div id="request-btn" class="main-btn center">
				
				<a href="newclimb">request a catch</a>
			</div>
		</div>
	</div>
	</div>
</body>
</html>


<!-- 
<tr th:class="${row.even}? (${row.first}? 'first' : 'even') : 'odd'">
if (row even) then (if (row first) then 'first' else 'even') else 'odd'

 -->
