<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="trTab">

	<p>
		I usually practice: <span>
			<div class="row">

				<div class="row col-md-4">
					<div class="dropdown col-md-6">
						<span> min: </span>
						<button class="btn btn-default dropdown-toggle" type="button"
							id="trMin" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true">
							-Select-&nbsp;&nbsp;&nbsp;<span class="caret"></span>
						</button>
						<ul class="dropdown-menu climb-grades" aria-labelledby="trMin">
							<li>5.5</li>
							<li>5.6</li>
							<li>5.7</li>
							<li>5.8</li>
							<li>5.9</li>
							<li>5.10a</li>
							<li>5.10b</li>
							<li>5.10c</li>
							<li>5.10d</li>
							<li>5.11a</li>
							<li>5.11b</li>
							<li>5.11c</li>
							<li>5.11d</li>
							<li>5.12a</li>
							<li>5.12b</li>
							<li>5.12c</li>
							<li>5.12d</li>
							<li>5.13a</li>
							<li>5.13b</li>
							<li>5.13c</li>
							<li>5.13d</li>
						</ul>
					</div>
					<div class="dropdown col-md-6">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;max: </span>
						<button class="btn btn-default dropdown-toggle" type="button"
							id="trMax" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true">
							-Select-&nbsp;&nbsp;&nbsp;<span class="caret"></span>
						</button>
						<ul class="dropdown-menu climb-grades" aria-labelledby="trMax">
							<li>5.5</li>
							<li>5.6</li>
							<li>5.7</li>
							<li>5.8</li>
							<li>5.9</li>
							<li>5.10a</li>
							<li>5.10b</li>
							<li>5.10c</li>
							<li>5.10d</li>
							<li>5.11a</li>
							<li>5.11b</li>
							<li>5.11c</li>
							<li>5.11d</li>
							<li>5.12a</li>
							<li>5.12b</li>
							<li>5.12c</li>
							<li>5.12d</li>
							<li>5.13a</li>
							<li>5.13b</li>
							<li>5.13c</li>
							<li>5.13d</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div> - max-<span>lvl-dropdown></span>
		</span>
	</p>
		

</section>

</html>